html {
font:normal 100%/1.2em "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
background:#0099FF;
}

#banniere{
	margin-left: 20px;
	border-radius: 40px 5px 40px 5px;
	height: 21%;
	width: 97.5%;
}
#bt-deco{
	text-align: center;
	cursor: pointer;
	font-family: Courier New;
	font-size: 1vmax;
	width: 11%;
	height: 4%;
	margin-left: 87%;
	margin-top: -11%;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 15%;
	-moz-border-radius: 15%;
	border-radius: 4px;
	border: solid #1f628d 2px;
	text-decoration: none;
}

#bt-deco:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

#bt-co{
	text-align: center;
	cursor: pointer;
	font-family: Courier New;
	font-size: 1vmax;
	width: 11%;
	height: 4%;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 15%;
	-moz-border-radius: 15%;
	border-radius: 4px;
	border: solid #1f628d 2px;
	text-decoration: none;
}

#bt-co:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

#recherche{
	margin-left: 70%;
	margin-top: -1.5%;
	font-size: 20px;
}

#recherche input{
	font-size: 20px;
}

fieldset {
 		display:block;
 		width:50%;
		border: 1px dotted #353535;
		padding:2px;
 		overflow:hidden;                   
}

.erreur{ 
    background-color:rgba(192,0,0,0.8);
    color:rgb(0,0,0);
    font-size:1.5em;
    width:100%;
    border-radius: 20px 20px 1px 1px;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;
	background-image: linear-gradient(to bottom, rgba(192,0,0,0.8),#FFFFFF );
}
.message{ 
   background-color:rgb(99, 184, 255);
   color:rgb(0,0,205);
   font-size:1.1em;
   width:95%;
}

#bandeau {

}

#menu{
height: 1.5em ;
margin-left:-2%;
margin-right: 30%;
}


#contenu{

}

#menu li {
	list-style-type: none;
	list-style-image:none;
	float: left;
	text-align: center;
    width: 20%;
	height: 80%;
    border: 2px solid  ;
	position: relative;
	margin-left: 3%;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 15%;
	-moz-border-radius: 15%;
	border-radius: 3px;
	font-family: Courier New;
	font-size: 1vmax;
	padding: 10px 15px 10px 15px;
	border: solid #1f628d 2px;
	text-decoration: none;
}

#menu li a , #categories li a {
		text-decoration:none;
		color: black;
}

#menu li:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}


#graphiques p
{
	font-size: 20px;
	border-style: groove;

}

tr{
	border-bottom: 1px solid;

}

#graphiques td
{
	min-width: 200px;
	max-width: 200px;
	border-left: 15px solid #FFFFFF;
	border-right: 150px solid #FFFFFF;
	border-bottom: 60px solid #FFFFFF;
	text-align: center;

}

#info{
	width: 30px;
	height: auto;
}

#info2{
	position: absolute;
	font-family: Comic sans MS;
	font-size: 18px;
	text-decoration: none;
}
#info2:hover{
	border-bottom: 1px solid darkorange;
}

#p1{
	padding-top: 1%;
	margin-left: 2%;
	text-decoration: underline;
	font-size: 200%;
}

#conteneur{
position: relative;
margin-top: 1.2%;
margin-left: 1%;
border-radius: 20px 20px 20px 20px;
background-color: #FFFFFF;
width: 97.5%;
padding-bottom: 1%;
}

#pied
{
margin-left: auto;
margin-top: 25px;
margin-right: auto;
border-radius: 15px 1px 15px 1px;
background-color: #FFFFFF;
padding-top: 10px;
width: 30%;
text-align: center;
}

#conn{
	padding-top: 3%;
	font-size: 25px;
	text-align: center;
}

#conn input {
	width: 300px;
	font-size: 20px;
	height: 30px;
}

#cred
{
	font-size: x-small;
	margin-top: 1%;
	padding-bottom: 1%;
}