
<form name="form1" method="POST" action ="">
    <table border="0" align="center" cellspacing="2" cellpadding="2">

        <p>login <br> <input type="text" name="login" required="Champ vide!" /></p>
        <p>Mot de passe : <br> <input type="text" name="mdp" required="Champ vide!" /></p>
        <input type='submit' name='Connexion'/>

</form>*
<body></body>







