{% extends "BourseBundle:layout:layout.html.twig" %}


{% block content %}{{ parent }}

    <div id="conteneur">
        <p id="p1"> Mes valeurs favorites </p>
    <table id="graphiques" class>


    {% for fav in favoris %}
        <tr>
            <td>
            <p> {{ fav.company }} </p>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="rmfav" value="{{ fav.idaction }} "/>
                    <input type="image"  class='info' src={{ asset('images/suppr.png') }} />
                </form>
            </td>
        </tr>


    {% endfor %}
    </table>
    </div>
{% endblock %}