{% extends "BourseBundle:layout:layout.html.twig" %}

{% block title %} {{ parent() }} - Accueil général {% endblock %}

{% block lateral %}


{% endblock %}

 {% block content %}
<div id="conteneur">

        <p id="p1">Mes valeurs favorites</p>
        <img src={{ asset('images/graph/graph.php') }} />

</div>
{% endblock %}