<form name="insertion"  action={{ path: }} method="POST">



            <p> Prenom: <br> <input type="text" name="Prenom" required="Champ vide!" /></p>
            <p>Nom :<br> <input type="text" name="nom"required="Champ vide!"  /></p>
            <p>identifiant :<br> <input type="text" name="identifiant"required="Champ vide!"  /></p>
            <p>motde passe :<br> <input type="text" name="mdp"required="Champ vide!"  /></p>
           <input type="submit"  name="inscription"  value="M'inscrire"/>


</form>
