


<form name="insertion"  action="{{ path('bourse_inscription')}}" method="POST">
<div id="blockinscr">
    <p> Prenom: <br> <input type="text" name="prenom" required="Champ vide!" /></p>
    <p>Nom :<br> <input type="text" name="nom"required="Champ vide!"  /></p>
    <p>Identifiant :<br> <input type="text" name="identifiant"required="Champ vide!"  /></p>
    <p>Mot de passe :<br> <input type="password" name="mdp"required="Champ vide!"  /></p>
    <input type="submit"  name="inscription"  value="M'inscrire"/>
</div>

</form>



{% endblock %}