{% extends "BourseBundle:layout:layout.html.twig" %}


{% block content %}{{ parent }}

    <div id="conteneur">
        <p id="p1"> Mes Portefueilles </p>
        <form action="{{ path('bourse_operation') }}" method="POST">
    <select name='pf' style="width:15%">
        {% for ent in portefeuille %}

            <option value="{{ ent.id }}">{{ ent.libelle}}</option>


        {% endfor %}
    </select>
    <input type="submit" name="port" />
    </form>





    </div>
{% endblock %}